@import "base";

.hero__text {
  position: absolute;

  bottom: 0;
  padding: 23% 0 7% 10%;
  height: 100vh;

  line-height: 1.7em;
  font-size: 0.9em;

  background-image: linear-gradient(rgba(255, 255, 255, 0), #fff);
}

#founders {
  .col-lg {
    padding: 0 8%;
  }

  p {
    line-height: 2em;
  }
}