@import url("https://fonts.googleapis.com/css?family=Baloo|Roboto");
body {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100vw; }

* {
  color: #303741; }

h1, h2, h3, h4 {
  font-family: "Baloo", cursive; }

p {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  size: 16px; }

.background--alt {
  background-color: #fff; }

.link-out-menu {
  background-color: #ededed; }

.header-font {
  font-family: "Baloo", cursive; }

/*# sourceMappingURL=base.css.map */
