@import url('https://fonts.googleapis.com/css?family=Baloo|Roboto:300,400');

$header-font: 'Baloo', cursive;
$p-font: 'Roboto', sans-serif;
$font-color: #303741;
$font-color--subtitle: #7c7c7c;

$background-color--link-out: #ededed;
$background-color--dark: #18171d;
$background-color--light: #fff;
$background-color: $background-color--light;

// set alternate background color based on the current background
@function alternate-background($background-color) {
  @if (lightness($background-color) < 50) {
    @return $background-color--light;
  } @else {
    @return $background-color--dark
  }
}

@function font-color($background-color) {
  @if (lightness($background-color) < 50) {
    @return #fff;
  } @else {
    @return $font-color;
  }
}

body {
  background-color: $background-color;
  display: grid;
  grid-template-columns: 1fr;

  max-width: 100vw;

  color: font-color($background-color);
}

* {
  color: $font-color;
}

h1, h2, h3, h4 {
  font-family: $header-font;
}

p {
  font-family: $p-font;
  font-size: 0.9em;
}

img {
  max-width: 100%;
}

button {
  border-radius: 12px !important;
}

a {
  color: $font-color !important;
  text-decoration: none;
}

.btn-100 {
  width: 100%;
}

.text-300 {
  font-weight: 300;
}

.background--alt {
  background-color: alternate-background($background-color);

  h1, h2, h3, h4, p, span {
    color: font-color(alternate-background($background-color));
  }
}

.background--black {
  background-color: #000;

  h1, h2, h3, h4, p {
    color: font-color(#000);
  }
}

%cover-image {
  position: relative;

  background: no-repeat center;
  background-size: cover;
}

.cover-image {
  @extend %cover-image;
  height: 100vh;
}

.cover-image--50 {
  @extend %cover-image;
  height: 50vh;
}

.cover-image--150 {
  @extend %cover-image;
  height: 150vh;
}

.link-out-menu {
  background-color: $background-color--link-out;
}

.header-font {
  font-family: $header-font;
}

.hero__feature {
  margin: 0 5%;

  img {
    padding: 10% 25%;
  }
}

// Do not show this on mobile
@media only screen and (max-width: 1000px) {
  .screen--laptop {
    display: none;
  }
}