@import url("https://fonts.googleapis.com/css?family=Baloo|Roboto:300,400");
body {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100vw;
  color: #303741; }

* {
  color: #303741; }

h1, h2, h3, h4 {
  font-family: "Baloo", cursive; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em; }

img {
  max-width: 100%; }

button {
  border-radius: 12px !important; }

a {
  color: #303741 !important;
  text-decoration: none; }

.btn-100 {
  width: 100%; }

.text-300 {
  font-weight: 300; }

.background--alt {
  background-color: #18171d; }
  .background--alt h1, .background--alt h2, .background--alt h3, .background--alt h4, .background--alt p, .background--alt span {
    color: #fff; }

.background--black {
  background-color: #000; }
  .background--black h1, .background--black h2, .background--black h3, .background--black h4, .background--black p {
    color: #fff; }

.cover-image, .cover-image--50, .cover-image--150 {
  position: relative;
  background: no-repeat center;
  background-size: cover; }

.cover-image {
  height: 100vh; }

.cover-image--50 {
  height: 50vh; }

.cover-image--150 {
  height: 150vh; }

.link-out-menu {
  background-color: #ededed; }

.header-font {
  font-family: "Baloo", cursive; }

.hero__feature {
  margin: 0 5%; }
  .hero__feature img {
    padding: 10% 25%; }

@media only screen and (max-width: 1000px) {
  .screen--laptop {
    display: none; } }
.hero__text {
  padding: 30% 10% 0; }

.hero__feature {
  margin: 0 30%; }
  .hero__feature img {
    padding: 10% 25%; }

#our-products {
  display: grid;
  grid-template-rows: repeat(2, 1fr); }

.product-text {
  padding: 10% 30%; }

#partners img, #collaborations img {
  width: 50%; }

@media only screen and (min-width: 1000px) {
  .hero__text {
    padding: 5% 20%; }

  .hero__feature {
    margin: 0 10%; }

  #our-products {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0; }

  #pawhishop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1; }
    #pawhishop #pawhishop-image {
      grid-column: 1;
      grid-row: 1; }
    #pawhishop #pawhishop-text {
      grid-column: 2;
      grid-row: 1; }

  #pawhipack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2; }
    #pawhipack #pawhipack-image {
      grid-column: 2;
      grid-row: 1; }
    #pawhipack #pawhipack-text {
      grid-column: 1;
      grid-row: 1; }

  #collaborations img {
    width: 100%; } }

/*# sourceMappingURL=index.css.map */
