@import "base";

.hero__text {
  padding: 30% 10% 0;
}

.hero__feature {
  margin: 0 30%;

  img {
    padding: 10% 25%;
  }
}

#our-products {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.product-text {
  padding: 10% 30%;
}

#partners, #collaborations {
  img {
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  .hero__text {
    padding: 5% 20%;
  }
  .hero__feature {
    margin: 0 10%;
  }

  #our-products {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0;
  }

  #pawhishop {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-row: 1;

    #pawhishop-image {
      grid-column: 1;
      grid-row: 1;
    }

    #pawhishop-text {
      grid-column: 2;
      grid-row: 1;
    }
  }

  #pawhipack {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-row: 2;

    #pawhipack-image {
      grid-column: 2;
      grid-row: 1;
    }

    #pawhipack-text {
      grid-column: 1;
      grid-row: 1;
    }
  }

  #collaborations {
    img {
      width: 100%;
    }
  }

}