@import "base";

.categories {
  background-color: $background-color--link-out;
  padding: 0;

  p {
    font-size: 1em;
    line-height: 2em;
    margin: 0;
  }

  div {
    margin: 0;
    padding: 0;
  }
}

.posts-display {
  display: grid;
 }
  .meta {
    color: $font-color--subtitle;
    font-size: 0.9em;
  }

.dog-events {
  background-color: $background-color--link-out;
  padding: 1% 10%;

  display: grid;

  .event-name {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 1000px) {
  .posts-display {
    grid-template-columns: 2fr 1fr;
  }
  .recent-news {
    grid-column: 1;
    grid-row: 1 / span 2;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .tips-tricks {
    grid-column: 2;
  }
  .dog-events {
    grid-column: 2;
  }
}