@import url("https://fonts.googleapis.com/css?family=Baloo|Roboto:300,400");
body {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100vw;
  color: #303741; }

* {
  color: #303741; }

h1, h2, h3, h4 {
  font-family: "Baloo", cursive; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em; }

img {
  max-width: 100%; }

button {
  border-radius: 12px !important; }

a {
  color: #303741 !important;
  text-decoration: none; }

.btn-100 {
  width: 100%; }

.text-300 {
  font-weight: 300; }

.background--alt {
  background-color: #18171d; }
  .background--alt h1, .background--alt h2, .background--alt h3, .background--alt h4, .background--alt p, .background--alt span {
    color: #fff; }

.background--black {
  background-color: #000; }
  .background--black h1, .background--black h2, .background--black h3, .background--black h4, .background--black p {
    color: #fff; }

.cover-image, .cover-image--50, .cover-image--150 {
  position: relative;
  background: no-repeat center;
  background-size: cover; }

.cover-image {
  height: 100vh; }

.cover-image--50 {
  height: 50vh; }

.cover-image--150 {
  height: 150vh; }

.link-out-menu {
  background-color: #ededed; }

.header-font {
  font-family: "Baloo", cursive; }

.hero__feature {
  margin: 0 5%; }
  .hero__feature img {
    padding: 10% 25%; }

@media only screen and (max-width: 1000px) {
  .screen--laptop {
    display: none; } }
.categories {
  background-color: #ededed;
  padding: 0; }
  .categories p {
    font-size: 1em;
    line-height: 2em;
    margin: 0; }
  .categories div {
    margin: 0;
    padding: 0; }

.posts-display {
  display: grid; }

.meta {
  color: #7c7c7c;
  font-size: 0.9em; }

.dog-events {
  background-color: #ededed;
  padding: 1% 10%;
  display: grid; }
  .dog-events .event-name {
    font-size: 0.8em; }

@media only screen and (min-width: 1000px) {
  .posts-display {
    grid-template-columns: 2fr 1fr; }

  .recent-news {
    grid-column: 1;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr); }

  .tips-tricks {
    grid-column: 2; }

  .dog-events {
    grid-column: 2; } }

/*# sourceMappingURL=post_list.css.map */
